body {
  font-size: 14px;
  width: 100%;
  overflow-x: hidden;
}

html,
body,
#__nuxt,
#__layout,
.main-view {
  height: 100%;
}

.oneline {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
