body {
  width: 100%;
  font-size: 14px;
  overflow-x: hidden;
}

button,
span,
i {
  vertical-align: middle;
}

html,
body,
#__layout,
.main-view {
  height: 100%;
}

#__nuxt {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
}

.oneline {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
