%clearfix {
  &:before, &:after {
    content: '';
    clear: both;
    display: table;
  }
}

%breakWord {
  word-break: break-word !important;
  word-break: break-all;
}

@mixin iPhoneX() {
  /* iphone x / xs / 11 pro*/
  @media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
    @content;
  }
  /* iphone xr / 11 */
  @media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) {
    @content;
  }
  /* iphone xs max / 11 pro max */
  @media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) {
    @content;
  }
}

@mixin multi-line($line-height, $line: 2) {
  line-height: $line-height;
  max-height: $line-height * $line;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
}

@mixin half-font($size, $origin: center) {
  display: block;
  font-size: $size * 2;
  line-height: $size * 2;
  transform: scale(0.5);
  transform-origin: left $origin;
}

@mixin keyframes($name) {
  @keyframes #{$name} {
    @content
  }

  @-webkit-keyframes #{$name} {
    @content
  }

  @-moz-keyframes #{$name} {
    @content
  }
}
